[Unit]
Description=bt firmware process
#Before=blueman-mechanism.service
After=bluetooth.service
[Service]
Type=forking
ExecStart=/usr/bin/bt_init
User=root
[Install]
WantedBy=multi-user.target

