name: build all images

on:
  workflow_dispatch:

jobs:
  gen-matrix:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-matrix
        run: |
          export matrix=$(find devices -maxdepth 1 -type f -printf "%f\n" | jq -R -s -c 'split("\n")[:-1]')
          echo "::set-output name=matrix::$matrix"

  build-image:
    needs: gen-matrix
    strategy:
      fail-fast: false
      matrix: 
        profile: ${{fromJson(needs.gen-matrix.outputs.matrix)}}
    uses: ./.github/workflows/build.yml
    with:
      profile: ${{ matrix.profile }}
